h1 {
    text-align: center;
}
body {
    background-color: #83c5be;
}

.container {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game {
    height: 350px;
    width: 350px;
    align-items: center;
    justify-content: center;
    border: none;
    display: flex;
    flex-wrap: wrap;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    background-color: #edf6f9;
    border-radius: 10%;
    box-shadow: 0 5px 0 #006d77, 0 5px 15px rgba(0, 0, 0, 0.3);
    color: #006d77;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#r_btn {
    margin-top:  50px;
    height: 50px; 
    width: 100px;
    background-color: #006d77;
    color: white;
    border-radius: 1rem;
    border: 2px solid black;
}